<script setup>
import UserCard from "../components/UserCard";
import BasicHeader from "../components/BasicHeader";
import { ref, onMounted } from "vue";
import { useUsers } from "@/composables/useUsers";

const { users, usersLoading, usersError, fetchUsers } = useUsers();

onMounted(async () => {
  await fetchUsers();
});
</script>
<template>
  <div class="container mx-auto px-5">
    <BasicHeader
      class="mb-14"
      page-title="Meet our friends"
    >
      <img
        src="@/assets/Small-G.svg"
        alt="logo-small"
        class="w-10"
      >
    </BasicHeader>
    <transition
      enter-active-class="duration-300 ease-out"
      enter-from-class="transform opacity-0"
      enter-to-class="opacity-100"
      leave-active-class="duration-200 ease-in"
      leave-from-class="opacity-100"
      leave-to-class="transform opacity-0"
    >
      <div v-if="usersLoading">
        ...loading...
      </div>
      <div v-else-if="usersError">
        ...error...
      </div>
      <div
        v-else-if="users && users.records && users.records.length > 0 && !usersLoading"
        class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 justify-items-center gap-4"
      >
        <router-link
          v-for="user in users.records"
          :key="user.id"
          :to="`/user/${user.id}`"
        >
          <UserCard          
            :quote="user.fields.Quote"
            :role="user.fields.Role"
            :name="user.fields.Name"
            :img="user.fields['Profile image'][0].thumbnails.large.url"
            :linkedin="user.fields['Linkedin url'] ?? ''"
            :twitter="user.fields['Twitter url'] ?? ''"
            :is-requestable="(user.fields['Is requestable'] ?? false)"
          />
        </router-link>
      </div>
    </transition>
  </div>
</template>
