<script setup>
import { useRoute } from 'vue-router'
import UserHeader from "@/components/UserHeader";
import { useUsers } from '@/composables/useUsers';
import { onMounted, computed } from 'vue'
const route = useRoute()
const { user, userLoading, fetchUser, userError, sendFriendRequest } = useUsers()
onMounted(async () => {
  await fetchUser(route.params.id)
})
const isRequestable = computed(() => {
  return user.value.fields['Is requestable'] ?? false

})
const payload = computed(() => {
  return {
    records: [
      {
        "fields": {
          "From": 'Simone', // your name
          "To": [
            user.value.id // member ID (use lists request to show possible values)
          ]
        }
      }
    ]

  }
})
</script>
<template>
  <div class="container mx-auto px-5">
    <transition
      enter-active-class="duration-300 ease-out"
      enter-from-class="transform opacity-0"
      enter-to-class="opacity-100"
      leave-active-class="duration-200 ease-in"
      leave-from-class="opacity-100"
      leave-to-class="transform opacity-0"
    >
      <div v-if="userLoading">
        ...loading...
      </div>
      <div v-else-if="userError">
        ...error...
      </div>
      <div v-else-if="(user && user.fields)">
        <UserHeader
          :responsive-border="true"
          :page-title="user.fields.Name"
          :user-role="user.fields.Role"
          :is-requestable="isRequestable"
          @click="sendFriendRequest(payload)"
        />
        <div class="flex flex-col lg:flex-row items-center lg:items-start mt-5 w-[360px] lg:w-full mx-auto">
          <img
            :src="(user.fields['Profile image'][0].thumbnails.large.url)"
            class=" h-[460px] lg:w-[304px] lg:h-[390px] object-cover rounded-md"
          >
          <div class="mt-10 lg:pl-8">
            <div class="flex lg:max-w-[466px]">
              <img
                src="@/assets/Quote-1.svg"
                alt="quote open"
                class="self-start pr-2"
              >
              <p class="font-bold text-xl">
                {{ user.fields.Quote }}
              </p>
              <img
                src="@/assets/Quote-2.svg"
                alt="quote close"
                class="self-end pl-2"
              >
            </div>
            <p class="mt-10 lg:px-5">
              {{ user.fields.Bio }}
            </p>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>
