<script setup>
defineProps({
    pageTitle: {
        type: String,
        required: true
    },
 
        responsiveBorder: {
            type: Boolean,
            required: false,
            default: false
        }
    
})
</script>
<template>
  <div
    class="flex w-full  justify-between pb-2 md:items-center"
    :class="responsiveBorder ? 'md:border-b border-black' : 'border-b border-black'"
  >
    <h1 class="text-3xl font-bold">
      {{ pageTitle }}
    </h1>
    <slot />
  </div>
</template>