<script setup>
defineProps({
    img: {
        type: String,
        required: true
    },
    name: {
        type: String,
        required: true
    },
    role: {
        type: String,
        required: true
    },
    quote: {
        type: String,
        required: true
    },
    twitter: {
      type: String,
      required: true
    },
    linkedin: {
      type: String,
      required: true
    },
    isRequestable: {
      type: Boolean,
      required: true
    }
})
</script>
<template>
  <div class="grid grid-cols-1 lg:grid-cols-2 h-[467px] max-w-[360px] lg:w-[380px] lg:h-[244px] gap-2">
    <div class="relative">
      <img
        :src="img"
        :alt="name"
        class="h-[244px] w-full object-cover shadow-lg block rounded-md"
      >
      <img
        v-if="!isRequestable"
        class="top-1 left-1 absolute h-5 w-5"
        src="@/assets/No.svg"
        alt=""
      >
      <img
        v-if="isRequestable"
        class="top-1 left-1 absolute h-5 w-5"
        src="@/assets/Yes.svg"
        alt=""
      >
    </div>
   
    <div class="flex flex-col justify-between">
      <div>
        <div class="flex items-center justify-between">
          <p class="text-xl font-bold">
            {{ name }}
          </p>
          <div class="flex md:hidden gap-2">
            <a
              v-if="linkedin !== ''"
              :href="linkedin"
              class="block"
              target="_blank"
            >
              <img
                src="@/assets/Linkedin.svg"
                alt="linkedin"
                class="h-6 w-6"
              >
            </a>
            <a
              v-if="twitter !== ''"
              :href="twitter"
              class="block"
              target="_blank"
            >
              <img
                src="@/assets/Twitter.svg"
                alt="twitter"
                class="h-6 w-6"
              >
            </a>
          </div>
        </div>
       
        <p class="text-sm text-gray-400 font-bold mb-2">
          {{ role }}
        </p>
        <p class="text-sm md:h-20 overflow-ellipsis overflow-hidden">
          {{ quote }}
        </p>
      </div>
      <div class="hidden md:flex gap-2">
        <a
          v-if="linkedin !== ''"
          :href="linkedin"
          class="block"
          target="_blank"
        >
          <img
            src="@/assets/Linkedin.svg"
            alt="linkedin"
            class="h-6 w-6"
          >
        </a>
        <a
          v-if="twitter !== ''"
          :href="twitter"
          class="block"
          target="_blank"
        >
          <img
            src="@/assets/Twitter.svg"
            alt="twitter"
            class="h-6 w-6"
          >
        </a>
      </div>
    </div>
  </div>
</template>
<style scoped>
.userCard {
  max-width: 380px;
  max-height: 244px;
}
</style>