<script setup>
defineProps({
    pageTitle: {
        type: String,
        required: true
    },
    userRole: {
        type: String,
        required: true
    },
    isRequestable: {
        type: Boolean,
        required: true
    },
})
</script>
<template>
  <div class="flex flex-col md:flex-row w-full justify-between pb-2 md:items-center md:border-b border-black">
    <h1 class="text-3xl font-bold">
      {{ pageTitle }}
    </h1>
    <div
      class="flex flex-col md:flex-row md:justify-between flex-grow md:items-center border-t border-black md:border-0"
    >
      <p class="font-bold text-gray-400 text-sm md:pl-52 mt-2 md:mt-0">
        {{ userRole }}
      </p>
      <button
        :disabled="!isRequestable"
        class="bg-green-500 border border-black font-bold text-sm rounded-full p-3 self-start mt-3 md:mt-0"
        :class="isRequestable ? '' : 'opacity-40 cursor-not-allowed'"
      >
        Send Request
      </button>
    </div>
  </div>
</template>