<template>
  <div class="bg-gradient-to-r from-beige-500 to-beige-100 font-sans h-screen w-screen overflow-x-hidden overflow-y-auto py-28 relative">
    <div class="absolute w-[500px] md:bottom-0 md:inset-y-0 md:right-0 z-1">
      <img
        src="@/assets/Big-G.svg"
        alt=""
        class="w-[580px]"
      >
    </div>
    <router-view class="z-10 relative" />
  </div>
</template>

<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
</style>
